<h1>Bonjour ! Veuillez confirmer votre adresse mail !</h1>

<p>
    Bonjour,


    Merci de votre confiance !
    Afin de confirmer vos coordonnées, merci de bien vouloir cliquer sur le lien ci-dessous.

    <a href="{{ signedUrl|raw }}">Validez mon adresse mail</a>.
    <br><br>
    N’attendez pas ! Sans confirmation de votre part, ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}, merci de renouveler votre demande.

</p>

<p>
    Les voisins bienveillants!
</p>
